<style type="text/css">
  .name {margin-bottom: 16px;
  }
  .user-name {margin-bottom: 8px;
  }
  
  .image {margin-bottom: 16px;
  }
  .user-edit-image {margin-bottom: 8px;
  }
  
  .body {margin-bottom: 16px;
  }
  .form-body {margin-bottom: 8px;
  }
  
  
</style>

<h1>User info</h1>
<%= form_for(@user) do |f| %>
<%= render 'books/error', model: @user %>
  <div class="name">
  <div class="user-name">Name</div>
    <%= f.text_field :name %>
  </div>
  <div class="image">
  <div class="user-edit-image">Image</div>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="body">
  <div class="form-body">Introduction</div>
    <%= f.text_area :introduction %>
  </div>
  <div class="upload">
    <%= f.submit " Update User", class:"btn btn-secondary" do %>
    <% end %>
  </div>
<% end %>







